﻿{% extends 'shared.html' %}

{% block title %}Home - {% endblock %}

{% block head %} 
		<meta name="description"    content="Graham Jane - A band since 2000" /> 
{% endblock %}

{% block body %}
<div class="box"><div class="box_content" id="home">
	<img src="/static/home.jpg" alt="Graham Jane - A band since 2000" />
</div></div>
{% endblock %}